* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: 140px;
        overflow: hidden;
        display: flex;
        ul {
            height: 100%;
            display: flex;
            width: auto;
            li {
                flex-shrink: 0;
                width: 80px;
                height: 100%;
                text-align: center;
            }
        }
    }
}